@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}
#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/frame-iphone.png') no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 472px;
    border-radius: 2px;
}

section#redes > a > img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 12px;
}

section#redes {
    text-align: right;
}

section#redes img:hover {
    border: 2px solid rgba(245, 245, 245, 0.4);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    transition: transform 0.2s, border 0.3s;
}